.vscode

# Ignore binary tools
bin/fromager_config_verifier
bin/fromager_user_config_gen
bin/fromager_parser
bin/fromager_cmdline_parser
bin/fromager_rt_profile_config_parser
bin/fromager_rt_resolve_dependencies
# Colored IO
bin/fromager_info
bin/fromager_warning
bin/fromager_error
bin/fromager_success
# Test binaries
bin/test*

# Ignore object files
obj/
*.o

# Ignore clang artefacts
.cache/
compile_commands.json
