.vscode

# Ignore extra files for LSPs
compile_commands.json
.cache/

# Ignore binary tools
bin/fromager
bin/fromager_bash_completion
bin/fromager_config_verifier
bin/fromager_rt_profile_config_parser
bin/fromager_rt_resolve_dependencies

# Colored IO
bin/colored_io/

# Test binaries
bin/test*

# Ignore object files
obj/
*.o
*.a

# Ignore slurm logs
*.out
*.err

fromager/
AGENTS.md
